# ================================
# LLM Configurations
# ================================

# Use the below base URL for your OpenAI compatible API. For example:
# GPT - https://api.openai.com/v1
# ollama[local/cloud] - http://localhost:11434/v1
# llama.cpp - http://localhost:8080
# OpenRouter - https://openrouter.ai/api/v1
# Groq - https://api.groq.com/openai/v1
LLM_BASE_URL=https://api.openai.com/v1
LLM_API_KEY=
LLM_MODEL=gpt-4.1-nano
LLM_TEMPERATURE=0.0

# ================================
# Channel Configuration
# ================================
#Channel available tui,telegram
CHANNEL=tui

# ================================
# Telegram Configuration
# ================================
#Telegram Bot Token (if using TelegramChannel)
TELEGRAM_BOT_TOKEN=

# ================================
# Memory configurations
# ================================
# Maximum tokens for the prompt (System prompt + preference memory + short term memory) 
MAX_PROMPT_TOKENS=8096
# Number of conversations to keep in short term memory when context is filled
MAX_RECENT_MESSAGES_TO_KEEP=6

# ================================
# General configurations
# ================================
WORKING_DIRECTORY=workspace
# Maximum iterations for the agent think loop
AGENT_MAX_ITERATIONS=10

# ================================
# Tools/skills configuration
# ================================
# Shell tool
ALLOWED_COMMANDS=head,tail,pwd,tree,echo,date
# Currency converter skill
# For currency conversion Get Free API key https://app.exchangerate-api.com/
EXCHANGERATE_API_KEY=

## TAVILY_API_KEY optional (If you want to use it for web search)
TAVILY_API_KEY=